{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'assets/images/sat-logo.png' %}">
    <!-- Page Title  -->
    <title>Scholarship Application Tracker</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>

<body class="nk-body ui-rounder npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
                                    <a href="#" class="logo-link">
                                        <img class="logo-light logo-img logo-img-lg" src="{% static 'assets/images/sat-logo.png' %}"  alt="logo">
                                        <img class="logo-dark logo-img logo-img-lg" src="{% static 'assets/images/sat-logo.png' %}" alt="logo-dark">
                                    </a>
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Sign-In</h5>
                                        <div class="nk-block-des">
                                            {% if messages %}
                                                {% for message in messages %}   
                                                    <div class="example-alert">
                                                        <div class="alert alert-{{ message.tags}} alert-dismissible alert-icon"><strong>{{ message }}</strong><button class="close" data-bs-dismiss="alert"></button>
                                                        </div>
                                                    </div>
                                                {% endfor %}   
                                            {% endif %}
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <form method="post" class="form-validate is-alter" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="email-address">Email<span class="text-danger">*</span></label>
                                            <a class="link link-primary link-sm" tabindex="-1" href="#"></a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input autocomplete="off" type="email" class="form-control form-control-lg" required  name='email' id="email" placeholder="Enter your email address" maxlength='100'>
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password" id="forgot-password">Password<span class="text-danger">*</span></label>
                                            <a class="link link-primary link-sm" tabindex="-1" href="{% url 'password_reset' %}">Forgot password</a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input autocomplete="new-password" type="password" class="form-control form-control-lg"  id="password" name= "password" placeholder="Enter your password" maxlength='30' required>
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block" id="login_button">Log in</button>
                                        <div class="form-note-s2 pt-4"> New on our platform? <a id="register_now" href="{% url 'user-signup' %}">Register Now</a>
                                   </div>
                                    </div>

                                </form><!-- form -->
                            </div><!-- .nk-block -->
                        </div><!-- .nk-split-content -->
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img" style="display: flex;justify-content: center;">
                                                <img class="round" src="{% static 'assets/images/gallary-01.jpg' %}" srcset="./images/slides/promo-a2x.png 2x" alt="">
                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Subhadrabai Shikshan Nidhi.</h4>
                                                <!-- <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p> -->
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img" style="display: flex;justify-content: center;">
                                                <img class="round" src="{% static 'assets/images/gallary-02.jpg' %}" srcset="./images/slides/promo-b2x.png 2x" alt="">
                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Subhadrabai Shikshan Nidhi.</h4>
                                                <!-- <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p> -->
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img" style="display: flex;justify-content: center;">
                                                <img class="round" src="{% static 'assets/images/gallary-03.jpg' %}" srcset="./images/slides/promo-c2x.png 2x" alt="">
                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Subhadrabai Shikshan Nidhi.</h4>
                                                <!-- <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p> -->
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                </div><!-- .slider-init -->
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div><!-- .slider-wrap -->
                        </div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</html>