{% extends 'base.html' %}
{% load static %}
{% block content %}
          <!-- main header @e -->
          <!-- content @s -->
          <div class="nk-content ">
              <div class="nk-block nk-block-middle wide-xs mx-auto">
                  <div class="nk-block-content nk-error-ld text-center">
                      <h3 class="nk-error-title">Coming Soon...</h3>
                  </div>
              </div><!-- .nk-block -->
          </div>
          <!-- content @e -->
      </div>
      <!-- wrap @e -->
    </div>
    <!-- main @e -->
    </div>
    </body>
{% endblock content %}